body{
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Hurricane', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;

}
.header-section{
    text-align: center;
    background-image: url(images/donation4.jpg);
    background-size: cover;
    height: 600px;
    color: white;
    
    
}
.header-section h1{
    font-size: 70px;
    padding-top: 15%;
    
}
.header-section p{
    padding-bottom:5% ;
}
.button{
    text-decoration: none;
    background-color: rgb(242, 49, 49);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-top: 3%;
    
}
.donate-section{
    text-align: center;
    font-size: 20px;
}
.subcrib-section{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 2%;
   
   
}
.box-model{
    box-shadow: 10px 30px 50px grey;
    margin: 3%;
    padding: 3%;
}
.diprance-color{
    background-color: rgb(233, 153, 153);
    border: solid red;
}
.amount{
    text-align: center;
}
.donate-plan{
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
}
.family-section{
    display: flex;
    
    
}
.background-color{
    background-color:rgb(219, 219, 239) ;
    padding: 5%;
    margin: 5%;
}
.shelter-section{
    background-color: rgb(244, 182, 182);
    padding: 5%;
    margin: 5%;
}
.education-section{
    background-color: rgb(233, 243, 96);
    padding: 5%;
    margin: 5%;
}